body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80%;
    min-width: 600px;
    margin: 0 auto;
}

.follow {
    background-image: url("follow-background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: white;
}

.followAvatar {
    margin: 15% 0;
}

.followAvatar img {
    border-radius: 10%;
    width: 20%;
}

.followText {
    font-size: 24px;
}

.button {
    border-radius: 4px;
    background-color: #999;
    border: none;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    width: 20%;
    max-width: 200px;
    min-width: 100px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: #555;
    color: white;
}
