@charset "UTF-8";

:root {
    --main-bg-color: #282c37;
    --dropdown-bg-color: #111;
    --dropdown-bg-color-hover: #333;
    --main-bg-color-reply: #212c37;
    --main-bg-color-dm: #222;
    --main-bg-color-report: #221c27;
    --main-header-color-roles: #282237;
    --main-fg-color: #dddddd;
    --main-link-color: #999;
    --main-visited-color: #888;
    --border-color: #505050;
    --font-size-header: 18px;
    --font-color-header: #ccc;
    --font-size-button-mobile: 34px;
    --font-size: 30px;
    --font-size2: 24px;
    --font-size3: 38px;
    --font-size4: 22px; 
    --font-size5: 20px; 
    --text-entry-foreground: #ccc;
    --text-entry-background: #111;
    --time-color: #aaa;
    --button-text: #FFFFFF;
    --button-background: #999;
    --button-selected: #666;
    --button-highlighted: green;
    --button-selected-highlighted: darkgreen;
    --button-approve: darkgreen;
    --button-deny: darkred;
    --button-height: 10px;
    --button-height-padding-mobile: 20px;
    --button-height-padding: 10px;
    --gallery-border: #ccc;
    --gallery-hover: #777;
    --gallery-text-color: #ccc;
    --gallery-font-size: 22px;
    --gallery-font-size-mobile: 35px;
    --button-corner-radius: 15px;
    --timeline-border-radius: 30px;
}

body, html {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);

    height: 100%;
    font-family: "Times New Roman", Times, serif;
    max-width: 80%;
    min-width: 950px;
    margin: 0 auto;
    font-size: var(--font-size);
}

a, u {
    color: var(--main-fg-color);
}

a:visited{
    color: var(--main-visited-color);
    font-weight: bold;
}

a:link {
    color: var(--main-link-color);
    font-weight: bold;
}

H1 {
    text-align: center
}

H3 {
    text-align: center
}

.about {
    font-size: var(--font-size5);
    float: right;
}
