@charset "UTF-8";

:root {
    --main-bg-color: #282c37;
    --main-fg-color: #9baec8;
    --main-link-color: #2980d9;
    --main-visited-color: #1580d9;
    --border-color: #505050;
    --font-size-header: 18px;
    --font-color-header: #ccc;
    --font-size: 22px;
    --text-entry-foreground: #ccc;
    --text-entry-background: #111;
}

body, html {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);

    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80%;
    min-width: 600px;
    margin: 0 auto;
}

a, u {
    color: var(--main-fg-color);
}

a:visited{
    color: var(--main-visited-color);
    font-weight: bold;
}

a:link {
    color: var(--main-link-color);
    font-weight: bold;
}

.follow {
    background-image: url("follow-background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: var(--main-bg-color);
}

.followAvatar {
    margin: 15% 0;
}

.followAvatar img {
    border-radius: 10%;
    width: 20%;
    min-width: 200px;
}

.followText {
    font-size: var(--font-size);
}

.button {
    border-radius: 4px;
    background-color: #999;
    border: none;
    color: white;
    text-align: center;
    font-size: var(--font-size);
    padding: 10px;
    width: 20%;
    max-width: 200px;
    min-width: 100px;
    cursor: pointer;
    margin: 30px;
}

.button:hover {
    background-color: #555;
    color: white;
}

input[type=text] {
    width: 70%;
    clear: both;
    font-size: 24px;
    text-align: center;
    color: var(--text-entry-foreground);
    background-color: var(--text-entry-background);
}

.cwButton {
    border-radius: 4px;
    background-color: #999;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 2px;
    cursor: pointer;
    margin: 5px;
}

.cwText {
    display: none;
}
